/* created by Szymon Maslanka */
/*@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic,400italic,900italic);*/
@import url('reset.css');

@font-face {
  font-family: "Oswald-Regular";
  src: url('fonts/oswald/Oswald-Regular.ttf');
}
@font-face {
  font-family: "Oswald-Light";
  src: url('fonts/oswald/Oswald-Light.ttf');
}
@font-face {
  font-family: "Oswald-Bold";
  src: url('fonts/oswald/Oswald-Bold.ttf');
}
@font-face {
  font-family: "Oswald-Italic";
  src: url('fonts/oswald/Oswald-Italic.ttf');
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url('fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "OpenSans-Light";
  src: url('fonts/open-sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url('fonts/open-sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url('fonts/open-sans/OpenSans-LightItalic.ttf');
}

body {
	font-family: "OpenSans-Light", Helvetica, sans-serif;
	font-weight: 100;
  background-color: #fafafa;
}

b {	font-weight: 900; font-style: bold; font-family: "OpenSans-Bold"; }
i { font-weight: 300; font-style: italic; font-family: "OpenSans-Light" }

a {
	text-decoration: none;
	opacity: 0.6;
	-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

a:hover {
	opacity: 1;
}

#menu-social {
  width: 159.4376px;
  height: 55px;
  position: relative;
  left:0; right:0;
  margin: auto;
  margin-top: 20px;
}

#menu-social li {
  font-size: 22px;
  display: inline;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

#menu-twitter, #menu-linkedin,
#menu-github, #menu-stack {
  color: #fff;
  padding: 8px;
  -moz-border-radius: 22px; 
  -webkit-border-radius: 22px; 
  border-radius: 22px;
}

#menu-twitter {
  background-color: #1DA1F2;
}

#menu-linkedin {
  background-color: #1C87BD;
}

#menu-github {
  background-color: #4078C0;
}

#menu-stack {
  background-color: #f48024;
}

#introduction {
  width: 360px;
  height: 100px;
  position: relative;
  left: 0; right:0;
  margin: auto;
  margin-top: 8px;
}

#introduction img {
  float: left;
  width: 55px;
  height: 55px;
  -moz-border-radius: 27.5px; 
  -webkit-border-radius: 27.5px; 
  border-radius: 27.5px;
}

#introduction h1 {
  font-family: 'Oswald-Regular';
  font-size: 44px;
  color: #555;
  text-align: center;
  padding: 5.5px;
}

#introduction h2 {
  font-family: 'Oswald-Light';
  font-size: 20px;
  color: #bbb;
  text-align: center;
  padding: 16px 0px;
}


#portfolio {
  max-width: 800px;
  height: auto;
  position: relative;
  left: 0; right:0;
  margin: auto;
  margin-top: 100px;
}

.portfolio-items {
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 54px -13px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 54px -13px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 54px -13px rgba(0,0,0,0.42);

  color: #333;
}

.portfolio-items h2 {
  font-family: 'Oswald-Regular';
  font-size: 44px;
  padding: 16px;
  padding-left: 24px;
}

/*#portfolio-items-apps {
 background-color: #fff;
}

#portfolio-items-apps h2 {
  color: #444;
}

#portfolio-items-websites {
 background-color: #eee;
}

#portfolio-items-websites h2 {
  color: #444;
}

#portfolio-items-other {
 background-color: #444;
}

#portfolio-items-other h2 {
  color: #eee;
}

#portfolio-items-school {
 background-color: #222;
}

#portfolio-items-school h2 {
  color: #eee;
}*/

.portfolio-item {
  padding: 16px;
  margin-bottom: 16px;
  min-height: 100px;
}

.portfolio-item img {
  float: left;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px;
  margin: 16px;
  margin-top: 0px;
}

.portfolio-item h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: "OpenSans-Light";
}

.portfolio-item h4 {
  padding: 6px;
  padding-right: 60px;
}

.portfolio-item .links {
  float: right;
}

/*small*/

.portfolio-item-small {
  padding: 16px;
  margin-bottom: 16px;
   min-height: 50px;
}

.portfolio-item-small img {
  float: left;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px; 
  -webkit-border-radius: 25px; 
  border-radius: 25px;
  margin: 16px;
  margin-left: 36px;
  margin-top: 0px;
}

.portfolio-item-small h3 {
  font-size: 22px;
  font-weight: 500;
  font-family: "OpenSans-Light";
}

.portfolio-item-small h4 {
  padding: 8px;
  padding-right: 60px;
}

.portfolio-item-small .links {
  float: right;
}

.link-button {
  color: #fff;
  padding: 6px;
  -moz-border-radius: 22px; 
  -webkit-border-radius: 22px; 
  border-radius: 22px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
}

.link-github {
  background-color: #4078C0;
}

.link-download {
  background-color: #333;
}

.link-play-store {
  background-color: #689F38;
}

.link-apple-store {
  background-color: #2588D6;
}

#copyright {
  font-family: 'OpenSans-Light';
  font-size: 14px;
  color: #bbb;
  width: 100%;
  height: 40px;
  position: relative;
  margin: 0;
  bottom: 0;
  left: 0;
  text-align: center;

}