/* created by Szymon Maslanka */
/*@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic,400italic,900italic);*/
@import url('reset.css');

@font-face {
  font-family: "FiraCode";
  src: url('fonts/fira-code/FiraCode-Regular.otf');
}
@font-face {
  font-family: "FiraCode-Light";
  src: url('fonts/fira-code/FiraCode-Light.otf');
}
@font-face {
  font-family: "FiraCode-Bold";
  src: url('fonts/fira-code/FiraCode-Bold.otf');
}
@font-face {
  font-family: "FiraCode-Italic";
  src: url('fonts/fira-code/FiraMono-RegularItalic.otf');
}
@font-face {
  font-family: "FiraCode-Medium";
  src: url('fonts/fira-code/FiraCode-Medium.otf');
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
  background-color: #fafafa;
}

b {	font-weight: 900; font-style: bold; font-family: "HelveticaNeue-Medium" }
i { font-weight: 300; font-style: italic; font-family: "HelveticaNeue-Italic" }

a {
	text-decoration: none;
	opacity: 0.6;
  color: #333;
  font-weight: 900;
	-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

a:hover {
	opacity: 1;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;
}

/*menu*/

#menu-header {
  height: 30px;
  width: 800px;
  position: relative;
  margin: auto;
  margin-top: 16px;
}

#menu-avatar {
  float: left;
  width: 30px;
  height: 30px;
  -moz-border-radius: 22px; 
  -webkit-border-radius: 22px; 
  border-radius: 22px;
}

#menu-social {
  width: 110px;
  height: 25px;
  float: right;
  margin-top: 2px;
}

#menu-social li {
  font-size: 15px;
  display: inline;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}

#menu-twitter, #menu-linkedin,
#menu-github, #menu-stack {
  color: #fff;
  padding: 5px;
  -moz-border-radius: 16px; 
  -webkit-border-radius: 16px; 
  border-radius: 16px;
}

#menu-twitter {
  background-color: #1DA1F2;
}

#menu-linkedin {
  background-color: #1C87BD;
}

#menu-github {
  background-color: #4078C0;
}

#menu-stack {
  background-color: #f48024;
}

/*introduction*/

#introduction {
  width: 700px;
  height: 60px;
  position: relative;
  left: 0; right:0;
  margin: auto;
  margin-top: 44px;
}

#introduction-left {
  float: left;
  width: 50%;
  height: 60px;
}

#introduction-left img {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  -moz-border-radius: 30px; 
  -webkit-border-radius: 30px; 
  border-radius: 30px;
}

#introduction-left h1 {
  font-size: 15px;
  color: #333;
  text-align: left;
  padding-top: 4px;
  margin-bottom: 6px;
}

#introduction-left h2 {
  font-size: 13px;
  color: #999;
  text-align: left;
  margin-bottom: 6px;
}

#introduction-right {
  float: right;
  width: 50%;
  height: 60px;
}

#introduction-right h1 {
  float: right;
  margin-top: 10px;
  font-size: 15px;
  color: #999;
  margin-right: 16px;
  text-align: right;
}

/*portfolio*/

#portfolio {
  max-width: 700px;
  height: auto;
  position: relative;
  left: 0; right:0;
  margin: auto;
  margin-top: 44px;
}

.portfolio-items {
  color: #333;
  padding-bottom: 15px;
  padding-top: 15px;
}

.portfolio-items .portfolio-header {
  position: relative;
  color: #eee;
  max-width: 700px;
  height: 225px;
  margin-top: 16px;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;
}

.portfolio-items .portfolio-header h2 {
  position: absolute;
  bottom: 0px;
  padding: 8px;
  font-size: 36px;
  font-weight: 900;
  color: #eee;
}

.portfolio-items h2 {
  margin-top: 44px;
  font-size: 36px;
  font-weight: 900;
  color: #444;
}

#portfolio-header-work {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../files/images/portfolio_headers/work.png');
}

#portfolio-header-personal {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('../files/images/portfolio_headers/personal.png');
}

/*big*/
.portfolio-item {
  padding: 30px 4px 0px 4px;
}

.portfolio-item img {
  float: left;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px;
  margin: 16px;
  margin-top: 0px;
}

.portfolio-item h3 {
  font-size: 24px;
  font-weight: 900;
  color: #666;
}

.portfolio-item h4 {
  padding: 8px 0px;
  padding-right: 60px;
  color: #999;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-item .links {
  float: right;
}

/*small*/

.portfolio-item-small {
  padding: 16px 4px 0px 4px;
}

.portfolio-item-small img {
  float: left;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px; 
  -webkit-border-radius: 25px; 
  border-radius: 25px;
  margin: 16px;
  margin-left: 36px;
  margin-top: 0px;
}

.portfolio-item-small h3 {
  font-size: 22px;
}

.portfolio-item-small h4 {
  padding: 8px 0px;
  padding-right: 60px;
  color: #333;
  font-size: 18px;
}

.portfolio-item-small .links {
  float: right;
}

.link-button {
  color: #fff;
  padding: 6px;
  -moz-border-radius: 22px; 
  -webkit-border-radius: 22px; 
  border-radius: 22px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
}

.link-github {
  background-color: #4078C0;
}

.link-download {
  background-color: #333;
}

.link-play-store {
  background-color: #689F38;
}

.link-apple-store {
  background-color: #2588D6;
}

#copyright {
  font-size: 14px;
  color: #bbb;
  width: 100%;
  height: 24px;
  position: relative;
  margin-top: 44px;
  bottom: 0;
  left: 0;
  text-align: center;

}